<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>diary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>diary</display-name>
    <servlet-name>diary</servlet-name>
    <servlet-class>SignUpServlet.EmotionDiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diary</servlet-name>
    <url-pattern>/diary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>diary.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>diaryServlet</display-name>
    <servlet-name>diaryServlet</servlet-name>
    <servlet-class>diary.diaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diaryServlet</servlet-name>
    <url-pattern>/diaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutService</display-name>
    <servlet-name>LogoutService</servlet-name>
    <servlet-class>diary.LogoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutService</servlet-name>
    <url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListControllerServlet</display-name>
    <servlet-name>ListControllerServlet</servlet-name>
    <servlet-class>diary.ListControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListControllerServlet</servlet-name>
    <url-pattern>/ListControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>list</display-name>
    <servlet-name>list</servlet-name>
    <servlet-class>diary.list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiaryListServlet</display-name>
    <servlet-name>DiaryListServlet</servlet-name>
    <servlet-class>diary.DiaryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaryListServlet</servlet-name>
    <url-pattern>/DiaryListServlet</url-pattern>
  </servlet-mapping>
</web-app>